<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qworldr.webstatistics.generator.dao.DtWeblogDetailDayMapper" >
  <resultMap id="BaseResultMap" type="com.qworldr.webstatistics.generator.bean.DtWeblogDetailDay" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="analyze_date" property="analyzeDate" jdbcType="DATE" />
    <result column="pv" property="pv" jdbcType="INTEGER" />
    <result column="uv" property="uv" jdbcType="INTEGER" />
    <result column="ip_num" property="ipNum" jdbcType="INTEGER" />
    <result column="new_visitor" property="newVisitor" jdbcType="INTEGER" />
    <result column="avg_visit_time" property="avgVisitTime" jdbcType="INTEGER" />
    <result column="avg_conversions" property="avgConversions" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="jump_out_percent" property="jumpOutPercent" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, analyze_date, pv, uv, ip_num, new_visitor, avg_visit_time, avg_conversions, type, 
    jump_out_percent
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qworldr.webstatistics.generator.bean.DtWeblogDetailDayExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dt_weblog_detail_day
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      limit ${limit}
    </if>
    <if test="offset != null" >
      offset ${offset}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from dt_weblog_detail_day
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from dt_weblog_detail_day
    where id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.qworldr.webstatistics.generator.bean.DtWeblogDetailDayExample" >
    delete from dt_weblog_detail_day
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qworldr.webstatistics.generator.bean.DtWeblogDetailDay" >
    insert into dt_weblog_detail_day (id, analyze_date, pv, 
      uv, ip_num, new_visitor, 
      avg_visit_time, avg_conversions, type, 
      jump_out_percent)
    values (#{id,jdbcType=CHAR}, #{analyzeDate,jdbcType=DATE}, #{pv,jdbcType=INTEGER}, 
      #{uv,jdbcType=INTEGER}, #{ipNum,jdbcType=INTEGER}, #{newVisitor,jdbcType=INTEGER}, 
      #{avgVisitTime,jdbcType=INTEGER}, #{avgConversions,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, 
      #{jumpOutPercent,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.qworldr.webstatistics.generator.bean.DtWeblogDetailDay" >
    insert into dt_weblog_detail_day
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="analyzeDate != null" >
        analyze_date,
      </if>
      <if test="pv != null" >
        pv,
      </if>
      <if test="uv != null" >
        uv,
      </if>
      <if test="ipNum != null" >
        ip_num,
      </if>
      <if test="newVisitor != null" >
        new_visitor,
      </if>
      <if test="avgVisitTime != null" >
        avg_visit_time,
      </if>
      <if test="avgConversions != null" >
        avg_conversions,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="jumpOutPercent != null" >
        jump_out_percent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="analyzeDate != null" >
        #{analyzeDate,jdbcType=DATE},
      </if>
      <if test="pv != null" >
        #{pv,jdbcType=INTEGER},
      </if>
      <if test="uv != null" >
        #{uv,jdbcType=INTEGER},
      </if>
      <if test="ipNum != null" >
        #{ipNum,jdbcType=INTEGER},
      </if>
      <if test="newVisitor != null" >
        #{newVisitor,jdbcType=INTEGER},
      </if>
      <if test="avgVisitTime != null" >
        #{avgVisitTime,jdbcType=INTEGER},
      </if>
      <if test="avgConversions != null" >
        #{avgConversions,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="jumpOutPercent != null" >
        #{jumpOutPercent,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qworldr.webstatistics.generator.bean.DtWeblogDetailDayExample" resultType="java.lang.Integer" >
    select count(*) from dt_weblog_detail_day
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dt_weblog_detail_day
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.analyzeDate != null" >
        analyze_date = #{record.analyzeDate,jdbcType=DATE},
      </if>
      <if test="record.pv != null" >
        pv = #{record.pv,jdbcType=INTEGER},
      </if>
      <if test="record.uv != null" >
        uv = #{record.uv,jdbcType=INTEGER},
      </if>
      <if test="record.ipNum != null" >
        ip_num = #{record.ipNum,jdbcType=INTEGER},
      </if>
      <if test="record.newVisitor != null" >
        new_visitor = #{record.newVisitor,jdbcType=INTEGER},
      </if>
      <if test="record.avgVisitTime != null" >
        avg_visit_time = #{record.avgVisitTime,jdbcType=INTEGER},
      </if>
      <if test="record.avgConversions != null" >
        avg_conversions = #{record.avgConversions,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.jumpOutPercent != null" >
        jump_out_percent = #{record.jumpOutPercent,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dt_weblog_detail_day
    set id = #{record.id,jdbcType=CHAR},
      analyze_date = #{record.analyzeDate,jdbcType=DATE},
      pv = #{record.pv,jdbcType=INTEGER},
      uv = #{record.uv,jdbcType=INTEGER},
      ip_num = #{record.ipNum,jdbcType=INTEGER},
      new_visitor = #{record.newVisitor,jdbcType=INTEGER},
      avg_visit_time = #{record.avgVisitTime,jdbcType=INTEGER},
      avg_conversions = #{record.avgConversions,jdbcType=INTEGER},
      type = #{record.type,jdbcType=VARCHAR},
      jump_out_percent = #{record.jumpOutPercent,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qworldr.webstatistics.generator.bean.DtWeblogDetailDay" >
    update dt_weblog_detail_day
    <set >
      <if test="analyzeDate != null" >
        analyze_date = #{analyzeDate,jdbcType=DATE},
      </if>
      <if test="pv != null" >
        pv = #{pv,jdbcType=INTEGER},
      </if>
      <if test="uv != null" >
        uv = #{uv,jdbcType=INTEGER},
      </if>
      <if test="ipNum != null" >
        ip_num = #{ipNum,jdbcType=INTEGER},
      </if>
      <if test="newVisitor != null" >
        new_visitor = #{newVisitor,jdbcType=INTEGER},
      </if>
      <if test="avgVisitTime != null" >
        avg_visit_time = #{avgVisitTime,jdbcType=INTEGER},
      </if>
      <if test="avgConversions != null" >
        avg_conversions = #{avgConversions,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="jumpOutPercent != null" >
        jump_out_percent = #{jumpOutPercent,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qworldr.webstatistics.generator.bean.DtWeblogDetailDay" >
    update dt_weblog_detail_day
    set analyze_date = #{analyzeDate,jdbcType=DATE},
      pv = #{pv,jdbcType=INTEGER},
      uv = #{uv,jdbcType=INTEGER},
      ip_num = #{ipNum,jdbcType=INTEGER},
      new_visitor = #{newVisitor,jdbcType=INTEGER},
      avg_visit_time = #{avgVisitTime,jdbcType=INTEGER},
      avg_conversions = #{avgConversions,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      jump_out_percent = #{jumpOutPercent,jdbcType=DECIMAL}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>